<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staging</key>
	<string>http://120.77.62.209:8181/</string>
	<key>test</key>
	<string>http://120.76.74.150:8181/</string>
	<key>normal</key>
	<string>https://api.jiedoor.com</string>
</dict>
</plist>
